:root {
  --main-bg: #FFBB5C;
  --heading-bg: #410601;
  --heading-txt: #672100;
  --foreground: #E66201;
  --highlight: #978300;

}

body {
  background-color: var(--main-bg);
  font-family: "Nunito", sans-serif;
  color: var(--heading-txt);
}

nav {
  padding: 0 1%;
  color: #FFF;
  background: hsla(19, 100%, 20%, 1);

  background: linear-gradient(90deg, hsla(19, 100%, 20%, 1) 0%, hsla(5, 97%, 13%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(19, 100%, 20%, 1) 0%, hsla(5, 97%, 13%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(19, 100%, 20%, 1) 0%, hsla(5, 97%, 13%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#672100", endColorstr="#410601", GradientType=1);
}


#mainNavbar .navbar-brand {
  color: var(--highlight);
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-right: 3rem;
}

#mainNavbar .navbar-brand span {
  color: var(--foreground);
}

#navLinks>ul>li.nav-item>a {
  color: var(--main-bg);
  font-size: 1.2rem;
  margin: 0 1rem;
}

#navLinks>ul>li.nav-item>a:hover {
  color: #cddc39;
}

body>section>div>div>h2>span {
  background: var(--foreground);
  color: white;
  padding: 0 0.5rem;
  font-weight: 800;
}

section {
  margin-bottom: 100px;
}

p {
  line-height: 2;
}

.navbar.scrolled {
  background: #410601;
  transition: background 500ms;
}

@media (max-width: 982px) {
  #mainNavbar .navbar-brand {
    color: var(--highlight);
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 0;
  }
}